.info {
    min-height: 1455px;
    background-image: linear-gradient(to top, #f9fbfd 0%, #ffffff 100%);
    padding: 80px 0 99px 0;
    position: relative;
    &__item {
        margin-top: 79px;
        width: 950px;
    }
    &__title {
        color: #68b0c9;
        font-size: 30px;
        font-weight: 700;
        text-align: left;
        margin-top: 1;
    }
    &__text {
        color: #535353;
        font-size: 17px;
        font-weight: 300;
        text-align: left;
        margin-top: 33px;
    }
    &__descr {
        position: absolute;
        top: 21%;
        left: 30%;

    }

    &__img {
        display: flex;
        justify-content: flex-end;
    }
    &__descr2 {
        position: absolute;
        top: 50%;
        left: 51%

    }

    &__img2 {
        display: flex;
        position: absolute;
        justify-content: flex-start;
        left: 29%;
    }
    &__descr3 {
        position: absolute;
        bottom: 5%;
        left: 31%;

    }

    &__img3 {
        display: flex;
        justify-content: flex-end;
        margin-top: 50%;
    }
    
}
