.input {
    width: 220px;
    height: 45px;
    border-radius: 23px;
    margin-top: 15px;
    border: 1px solid grey;
    opacity: 0.3;
}
.input_delivery {
    width: 260px;
    height: 46px;
    border-radius: 20px;
    border: 1px solid #d5e4ef;
    background-color: #ffffff;
    margin-top: 31px;
}
.input_modal {
    width: 220px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #d5e4ef;
    background-color: #ffffff;
    margin-top: 31px;
}